@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.Store-IconSwitch {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}